{% extends 'base.html' %}

{% block title %}留言板{% endblock %}

{% block content %}
    <h1>留言板</h1>
    <form method="post" action="{{ url_for('add_message') }}">
        <label>姓名：</label><input type="text" name="name"><br>
        <label>留言：</label><textarea name="message"></textarea><br>
        <input type="submit" value="提交">
    </form>
    <hr>
    {% for message in messages %}
        <p>{{ message[1] }} ({{ message[3] }})：</p>
        <p>{{ message[2] }}</p>
        <hr>
    {% endfor %}
{% endblock %}
